.articles {
	position: relative;
	height: 500px;
}

.article {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
	visibility: hidden;
}

.article.active {
	visibility: visible;
}

#article-nav li {
	cursor: pointer;
	user-select: none;
}
.article img {
    height: 400px;
}